{% extends 'base.html.twig' %}

{% block title %}{{ parent() }}Sign in{% endblock %}

{% block body %}
        {% if error %}
            <div class="alert mt-5 alert-danger alert-dismissible fade position-fixed show end-0 m-2" role="alert">
                <span>{{ error.messageKey|trans(error.messageData, 'security') }}</span>
                <button type="button" class="close btn p-0 px-2 position-fixed end-0 me-3" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        {% endif %}
        <div class="d-flex mt-5 mb-5 flex-column justify-content-center align-items-center container-fluid">
            <form method="post" class="col-8 col-lg-4 col-xl-4 p-3 border rounded bg-white pb-5 pt-4 shadow px-5">
                {% if app.user %}
                    <div class="mb-3">
                        You are logged in as {{ app.user.userIdentifier }}, <a href="{{ path('logout') }}">Logout</a>
                    </div>
                {% endif %}
                <h1 class="h1 mb-4  font-weight-bold text-center">Sign in</h1>
                <div class="mb-3">
                    <label for="inputEmail" class="form-label">Email</label>
                    <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" placeholder="johndoe@gmail.com" autocomplete="email" required autofocus>
                </div>
                <div class="mb-3">
                    <label for="inputPassword" class="form-label">Password</label>
                    <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" placeholder="password..." required>
                </div>

                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

                <div class="mb-3 form-check">
                    <input type="checkbox" name="_remember_me" class="form-check-input" id="rememberMe">
                    <label class="form-check-label" for="rememberMe">Remember me</label>
                </div>

                <button class="btn btn-dark btn-block mt-4" type="submit">
                    Sign in
                </button>
            </form>
            <p class="mt-3">Don't have an account? <a href="{{ path('register') }}">Sign up!</a></p>
        </div>
{% endblock %}
