{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} Products{% endblock %}

{% block body %}
    <div class="jumbotron text-center bg-light w-100 py-5 mt-5 mb-4 bg-dark bg-opacity-50 text-light">
        <h1 class="display-4">Welcome to Our Online Store!</h1>
        <p class="lead">Browse through our wide selection of products. Find the best deals on the latest items, all available at competitive prices.</p>
        <hr class="my-4">
        <p>Explore our featured products and enjoy a seamless shopping experience.</p>
    </div>

    <div class="container my-5">
        <!-- Introductory Section -->

        <!-- All Products Section -->
        <h3 class="display-5 font-weight-bolder" id="products">All Products</h3>
        <hr>
        <div class="row d-flex justify-content-center">
            {% for product in products %}
                <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
                    <div class="card shadow py-3 h-100 d-flex flex-column">
                        <div class="d-flex justify-content-between align-items-center" style="height: 200px;">
                            <img src="{{ asset('images/products/' ~ product.image) }}" class="card-img-top img-fluid" alt="{{ product.name }}" style="max-height: 100%; max-width: 100%; object-fit: contain;">
                            {% if product.featured %}
                                <span class="badge py-2 badge-warning position-absolute" style="top: 10px; left: 10px;"><i class="bi bi-star-fill"> Featured</i></span>
                            {% endif %}
                        </div>
                        <div class="card-body d-flex flex-column justify-content-between">
                            <div class="mb-3">
                                <h5 class="card-title d-flex justify-content-between align-content-center">
                                    <a href="{{ path('user.product.show', {'id': product.id}) }}">{{ product.name }}</a>
                                    <span class="small text-secondary">{{ product.price | number_format(0, '.', ',') }} MAD</span>
                                </h5>
                                <p class="card-text text-muted">{{ product.description }}</p>
                            </div>
                            <div class="d-flex {% if product.stock > 0 %} justify-content-between {% else %} justify-content-center {% endif %} align-items-center">
                                {% if product.stock > 0 %}
                                    {% include 'partials/addToCartButton.html.twig' with {'id': product.id} %}
                                    <span class="text-success small">{{ product.stock }} IN STOCK!</span>
                                {% else %}
                                    <span class="text-danger">SOLD OUT!</span>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        {{ knp_pagination_render(products, 'partials/pagination_tmp.html.twig') }}
        <hr>
        <h3 class="text-center display-6 mb-3 font-weight-bold mt-5">Featured Products</h3>
        {% include 'partials/productCarousel.html.twig' with {'products': featuredProducts} %}
    </div>
{% endblock %}
